@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin-top: -150px" class="justify-content-center align-content-center">
    <div class=" m-auto row justify-content-md-center container-md align-content-md-center text-center ">
        <div style="margin-left: auto;padding-top: 20px; border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray" class="habilidades col col-5 bg-secondary">
            <i class="bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Trabajo desde el desarrollo, realizando pruebas automaticas de funcionamiento
                y de rendimiento para luego la puesta en produccion realizando entregas continuas
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Javascript, MongoDB Atlas, Node.js, SQL Server, .NET
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Express</li>
                <li>Express-session</li>
                <li>Passport</li>
                <li>API REST</li>
                <li>Patron MVC</li>
                <li>Envio de notificaciones por mail o numero telefonico</li>
                <li>Mongoose</li>
                <li>SQL Server</li>
                <li>Realizacion de consultas complejas</li>
                <li>Encriptado de contraseñas</li>
                <li>Normalizacion de datos</li>
                <li>Socket.io</li>
                <li>ASP.NET CORE</li>
            </ul>

        </div>
        <div style="margin-right: auto;padding-top: 20px; border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray" class="habilidades col col-5 bg-secondary">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Puedo realizar interfaces responsive, capaces de adaptarse a
                distintos tamaños de pantalla, asegurandome de un flujo correcto
                de navegacion, y manejando apropiadamente ciertos eventos como notificaciones
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, SASS, Bootstrap, HTML, CSS, Javascript, .NET
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React</li>
                <li>Diseños responsive</li>
                <li>Notificaciones</li>
                <li>Consumo de APIS</li>
                <li>DOM(Domain Object Model)</li>
                <li>Manejo de Storage</li>
                <li>Manejo de cookies</li>
                <li>ASP.NET CORE</li>
            </ul>

        </div>
    </div>
</div>