<div class="text-center">
    <h1 class="display-4">Soy Kevin Castillo (22)</h1>
    <h3>Desarrollador Fullstack, especializado en JS y Node.JS, experimentado en .NET, estudiante de ingenieria en sistemas</h3>
    <img id="fotoPerfilPrincipal" src="~/images/fotoPerfilPrincipal.jpeg" alt="Foto de perfil" />
</div>

<div class="text-center container-fluid d-flex justify-content-between align-items-center">
    <img id="imagen-js" src="~/images/JavaScript-logo.png" />
    <img id="imagen-dotnet" src="~/images/Csharp_Logo.png" />
</div>

<div id="containerInicio" class="row m-auto container-fluid justify-content-center text-center bg-primary">
    <div id="content" class="col col-md-7 section-bienvenida">
        <h1>Te doy la bienvenida a mi Portafolio</h1>
        <p>
            Me he estado desarrollando en el ambito de la programacion desde 2018. He complementado mis conocimientos
            desde varias fuentes, principalmente como programador me he desarrollado de manera autodidacta.
            <br />
            Pero reforce conocimientos con cursos de distintas fuentes como Coderhouse o Udemy
            Aunque principalmente me oriente a programar en Javascript, tambien he realizado proyectos con .NET
        </p>
    </div>
</div>

