@model IEnumerable<ProyectDTO>

@if (Model is not null)
{
    //automaticamente se pasan los datos a la view, pero declarar el modelo
    //que se utiliza hace que se defina una clase a utilizar, y evitar pasar un dato
    //que no corresponde
    //pero esto limita la flexibilidad para ser reutilizada, entonces mejor declaro el
    //atributo que quiero que me llegue
    //Ahora el IEnumerable es el Model
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis trabajos recientes</h1>
        <p>Aqui puedes ver mis trabajos mas recientes</p>
    </div>

    <partial name="_ListadoProyectos" model="Model" />

}