@{
    ViewData["Title"] = "Gracias";
}

<div class="container d-flex text-center flex-column">
   <h1>Gracias por ponerte en contacto conmigo</h1>
    <p>Te contestare el mensaje lo mas pronto posible</p>
    <div><a asp-action="Index" asp-controller="Home">Volver al Inicio</a></div>
</div>


