#fotoPerfilPrincipal{
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
}

.section-bienvenida{
    margin: 5rem 0 10rem 0;
    color:white;
}

.section-bienvenida h1{
    margin: 1rem;
}

.section-bienvenida p{
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem
}

#imagen-dotnet{
    width: 150px;
    margin-right: 20%;
}

#imagen-js{
    width: 100px;
    margin-left: 20%;
}

.cabecera{
    font-weight: bold;
}

.habilidades ul{
    list-style: none;
    padding-left: 0;
}

.habilidades i {
    font-size: 3rem;
}